body{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
.question-container{
    height: 70vh;
    width:100vw;
    background-color: #f5f5f5;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.question-container #question{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.answer-container{
    width: 100%;
    height:30vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}
.answer-container .answer-btn{
    width:50%;
    border:0px;
    outline:0;
    color:white;
    font-size:2vw;
    font-weight: bold;
}   
.answer-container .answer-btn:hover{
    filter:brightness(90%);
    cursor:pointer;

}

.answer-btn:focus{
    filter:brightness(80%);
    opacity: 0.7;
}